/* Add a black background color to the top navigation */
.topnav {

    background-color: #AAD6E4;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align:left;
    margin-top: 5px;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 25px;
    font-family: misfits;
    height: 28x;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #6EBBAF;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: black;
}

body {
  background-color: #E6E852;
}


@font-face
{
font-family: misfits;
src: url('misfits.ttf'),
url('http://www.dafont.com/misfits.font');
}
